/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #ffffff;
}
#wrapper,
.block-masradix-mainnavigation-menu a.is-active {
  background: #ffffff;
}
.tabs ul.primary li a.is-active {
  background-color: #ffffff;
}
.tabs ul.primary li.is-active a {
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}
#sidebar-wrapper,
.btn-default,
.block--masradix-markaspotstageaddblock p a,
.shariff .theme-grey .shariff-button a {
  background-color: #055a8e;
  background-image: -webkit-linear-gradient(top, #055a8e 0%, #055a8e 100%);
  background-image: linear-gradient(to bottom, #055a8e 0%, #055a8e 100%);
  border-color: #3b3b3b;
}
a,
.link,
.btn-default:hover,
.btn-default:focus {
  color: #23aeff;
}
.region-sidebar .block,
.region-sidebar li.list-group-item,
.shariff .theme-grey .shariff-button a{
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
.navbar-left .navbar-nav li:before {
  background-color: #1d84c3;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #f9f9f9;
  background-color: #1d84c3;
}
.block.block--userlogin,
.navbar-inverse.navbar-nav > li > a {
  color: #f9f9f9;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #23aeff;
}
.btn-default,
a:active,
.link:active {
  color: #23aeff;
}

#footer {
  background: #fff;
}

.site-name,
.site-name a {
  color: #23aeff;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
