// Page Layout
// -----------------------------------------------------------------------------

// Page
// -----------------------------------------------------------------------------
body {
  background: $body-bg $body-bg-image;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

span.site-name {
  display: inline-block;
  margin: 10px 3px;
}

.region-sidebar.col-xs-5 {
  position: fixed;
  right: 0;
  top: 2px;
}

/**
 * Throbber.
 */
.ajax-progress-fullscreen .throbber {
    visibility: visible; 
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    background: #fff;
    opacity: .5;
    transition: opacity 1s ease;
}