// Styles for Nodes
// -----------------------------------------------------------------------------
article.service-request--teaser {
  background: $gray-lighter;
  box-shadow:
    0 1px 3px rgba(0,0,0, 0.12),
    0 1px 2px rgba(0,0,0, 0.24);
}

.service-request__field-category .label-default,
.service-request__field-status .label-default {
  display: block;
  width: 100%;
}

article.service-request--teaser.focus {
  background: #fff;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

article.service-request--gallery {
  padding: 0;
  margin: 30px 0 0 0;
  clear: both;
}

article.service-request--teaser {
  padding: 0;
  margin: 30px 0 40px 0;
  clear: both;
}

article.service-request img {
  opacity: 1;
  transition: opacity .1s ease-in;
}

article.service-request:hover img {
  opacity: 0.6;
  transition: opacity .1s ease-in;
}

article.service-request--teaser .content,
article.service-request footer {
  padding: 10px;
  margin: 0;
}

article.service-request footer {
 font-style: italic;
 padding: 10px 0px;
 color: $gray-light;
}

.service-request--gallery h2 {
  font-size: medium;
}

.service-request--gallery img {
  box-shadow:
    0 1px 3px rgba(0,0,0, 0.12),
    0 1px 2px rgba(0,0,0, 0.24);
}

.service-request h2 {
  height: 153px;

  @media (max-width: $screen-md-min) {
    font-size: x-large;
    height: 130px;
  }

  @media (max-width: $screen-lg-min) {
    font-size: x-large;
    height: 130px;
  }

  @media (max-width: $screen-sm-max) {
    font-size: large;
    height: 145px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: x-small;
    height: 60px;
  }
  z-index: 4;
  margin: 0;
  position: absolute;
  top: 30px;
  display: block;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+75&0.65+0,0+62 */
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0) 65%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 65%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  width: 60%;
}

.service-request h2 a:hover {
  text-decoration: none;
}

.service-request h4.field__label {
    margin: 20px 0 0 0;
    clear: left;
}


// logged in fix:
.contextual-region h2 {
    margin: -30px 0;
}

.service-request h2 a {
  color: #fff;
  margin: 20px 10px;
  display: block;
}

article.service-request image {
  z-index: 3;
  top: 0;
  overflow: hidden;
  position: relative;
  padding: 0;
}

article.service-request img {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
    top: 0px;
    padding: 0;
}

.service-request__field-address {
    padding: 10px;
    background: $gray-lighter
}

article.service-request div.col-sm-6 {
  border-top: 1px solid $gray-light;
  margin: 0;
  min-height: 70px;
  @media (max-width: $screen-md-max) {
    min-height: 85px;
  }
  text-align: center;
  padding-top: 20px;
  background: $gray-lighter;
  font-family: Sa
}

.service-request__field-status {
  border-right: 1px solid $gray-light;

  @media (max-width: $screen-sm-min) {
    border-right: none;
  }

}

.service-request__field-status div{
  border-left: none;
}


.field__item.label.label-default {
  background: none;
  font-size: $font-size-base;
  text-align: center;
}

.col-sm-6.fa {
  .color-8B0000 {
    color: #8b0000;
  }
  .color-ff0000 {
    color: #FF0000;
  }
  .color-ffa500 {
    color: #ff8c4e;
  }
  .color-008000 {
    color: #008000;
  }
  .color-006400 {
    color: #006400;
  }
  .color-0000ff {
    color: #0000FF;
  }
  .color-00008b {
    color: #00008B;
  }
  .color-a020f0 {
    color: #A020F0;
  }
  .color-871F78 {
    color: #871F78;
  }
  .color-5f9ea0 {
    color: #5F9EA0;
  }
  .color-ADD8E6 {
    color: #ADD8E6;
  }
  .color-D3D3D3 {
    color: #D3D3D3;
  }
  .color-808080 {
    color: #808080;
  }
  .color-000000 {
    color: #000000;
  }
  .color-F5F5DC {
    color: #F5F5DC;
  }
  .color-FFFFFF {
    color: #FFFFFF;
  }
}

article.service-request {
  @extend .col-sm-6.fa;
}

article .col-sm-6.fa {
  padding: 0;
  text-align: center;
  font-size: $font-size-base*1.1
}

.col-sm-12.fa {
    line-height: 50px;
    display: block;
    margin: auto;
    text-align: center;
}

.list-markers.leaflet-control {
  margin: 40px;
  height: 300px;
  overflow: scroll
}

.service-request__field-category,
.service-request__field-status {
  font-family: $font-family-sans-serif;
  font-size: $font-size-large;
}

article.service-request .label-default {
  display: block;
  padding: 0 .6em .3em;
  font-size: $font-size-large;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-align: center;
  white-space: normal;
  background: none;
  /* vertical-align: baseline; */
  /* border-radius: .25em; */
}
