// Styles for Tabs, Messages, ..etc
// -----------------------------------------------------------------------------

// Page header
// -----------------------------------------------------------------------------
.page-header {
  margin: 18px 0 18px;
  h1 {
    margin: 0;
    text-align: center
  }
}